.md-typeset ol li, .md-typeset ul li {

    margin-bottom: 0em;
    margin-left: 1.25em;

}

.md-typeset h1 {
  text-align: center;
  font-weight: 700;
}

body {
    text-align: justify;
}

/* iframe {
 {
    position: absolute;
    margin: auto;
} */
